.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  min-width: 100px;
  padding: 9px 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;

  &.disable {
    pointer-events: none;
    opacity: 0.5;
  }
}

.rounded {
  border-radius: 999px;
  border-color: rgba(22, 24, 35, 0.12);
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  color: #333;

  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.contained {
  background: var(--primary);
  color: white !important;

  &:hover {
    opacity: 0.8;
  }
}

.outline {
  border-color: currentColor;
  color: var(--blue-color) !important;

  &:hover {
    opacity: 0.8;
  }
}

.text {
  &:hover {
    text-decoration: underline;
  }
}

.icon + .title,
.title + .icon {
  margin-left: 8px;
}

.icon {
  display: inline-flex;
  width: 1.5rem;
  align-items: center;
  justify-content: center;

  & img {
    width: 1rem;
  }
}

.small {
  min-width: 88px;
  padding: 4px 16px;
}

.large {
  min-width: 140px;
  padding: 14px 16px;
}
