.wrapper {
  display: flex;
  gap: 0.5rem;
}

.tag-item {
  // padding: 0.5rem 0.8rem;
  border-radius: 999px;
  background-color: #f3f4f6;
  height: 2rem;
  padding: 0 0.8rem;
  color: #374151;
  text-align: center;
  align-content: center;
  font-size: 0.8rem;
}
