@import 'normalize.css';

:root {
  --primary: linear-gradient(to right, #3b82f6, #1d4ed8);
  --default-layout-header-height: 60px;
  --default-layout-width: 1232px;
  --text-color: #333;
  --blue-color: #1d4ed8;
  --blue-background-color: hsl(214.09deg 95.65% 90.98%);
  --background-color: #f5f5f5;
  --white: white;
  --black: black;

  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  text-decoration: none;
  color: var(--text-color);
}
