.wrapper {
  width: 100%;
  height: 100%;
  background: var(--primary);
  color: white;
  border-radius: 1rem;
  overflow: hidden;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .title {
    margin: 0;
  }
}

.actions {
  display: flex;
  align-items: center;
  margin-top: auto;
  gap: 1rem;
}
