.wrapper {
  margin-top: 1rem;

  .section-title {
    margin-bottom: 1rem;
  }

  .desciption {
    overflow: hidden;
    height: 3rem;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    word-break: break-word;
  }

  .continue-items {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .header {
      display: flex;
      align-items: center;
      height: 2rem;

      .favourite-icon {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border-radius: 9999px;

        &:hover {
          background-color: var(--background-color);
          cursor: pointer;
        }
      }
      .marked {
        color: var(--blue-color);
      }
    }
  }

  .progress-bar {
    width: 100%;
  }

  .time {
    display: flex;
    align-items: center;
  }
}

.points {
  color: var(--blue-color) !important;
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
