.wrapper {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  max-width: 18rem;
  border: 1px solid grey;
  border-radius: var(--search-border-radius);
  transition: box-shadow 0.15s ease;

  &:hover {
    border: 1px solid rgb(137, 137, 137);
    box-shadow: 0 0 0 1px rgb(137, 137, 137);
  }

  &:focus-within {
    border: 1px solid black;
    box-shadow: 0 0 0 2px black;
  }
}

.search-icon-wrapper {
  width: 2.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: text;
  }

  .search-icon {
    width: 1rem;
    height: 1rem;
    color: #9c9d9f;
  }
}

.search-input {
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  background: transparent;
}
