.wrapper {
  margin-top: 1rem;

  .section-title {
    margin-bottom: 1rem;
  }

  .collection-title {
    overflow: hidden;
    height: 3.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    word-break: break-word;
  }
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

  .item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .tags {
    height: 2rem;
  }
}
