.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  min-width: 2rem;
  min-height: 2rem;
  background-color: #3b82f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;

  & img {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.text-container {
  display: flex;
  flex-direction: column;

  & .app-name {
    font-weight: bold;
    line-height: normal;
  }

  & .app-slogan {
    font-size: 0.6rem;
    font-style: italic;
    color: rgb(107 114 128);
  }
}
