.navbar {
  display: flex;
  gap: 2px;

  & li {
    list-style: none;
  }

  & li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }

  & li a:hover {
    background-color: var(--blue-background-color);
    color: var(--blue-color);
  }

  & .active {
    color: var(--blue-color);
  }
}
